/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #201958;
}

/* Header Styles */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

/* Container Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust the height of the container to half of the viewport height */
  border: 2px solid #ccc; /* Add a border to the container */
  border-radius: 10px; /* Optional: Add border radius for a rounded appearance */
}

.input-wrapper {
  margin: 0 10px; /* Adjust the spacing between inputs */
}

input[type="text"] {
  width: 520px; /* Adjust the width of inputs as needed */
  height: 30px; /* Adjust the height of inputs as needed */
  padding: 5px;
  border: none; /* Remove the default input border */
  border-radius: 5px;
  font-size: medium;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

.arrow {
  font-size: 24px;
}
